
    <div class="container">

        <div class="row">

            <div class="col-md-4"></div>

            <div class="col-md-4">

                <form action="" class="bg-light p-5 rounded">

                    <!-- <center> -->
                        <img src="../../assets/images/logo.jpeg" alt="" class="border rounded-circle" width="75px" height="75px" align="center">
                        <h4 align="center">My Bank</h4>
                        <br>
                    <!-- </center> -->

                    <input type="text" id="userName" class="form-control mt-3" placeholder="username">
                    <input type="text" id="accNum" class="form-control mt-2" placeholder="Account Number">
                    <input type="text" id="pass" class="form-control mt-2" placeholder="Password">
                    
                    <div>

                        <button type="button" class="btn btn-primary mt-4 form-control " onclick="register()">Register</button>
                        
                        <!-- <center> -->
                            <div class="mt-5 pb-4">
                                <p align="center">Already a member? Then &nbsp;<a href="./index.html">Sign in</a></p>
                            </div>
                        <!-- </center> -->

                    </div>
                </form>
            </div>
            <!-- </div> -->
        
        </div>

    </div>

